body {
  font-family: "Anek Latin", sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/066/327/original/Shutterstock_256844800_%281%29.jpg?1675775278");
}
header {
  color: white;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  padding: 10px;
  margin: 20px 0;
}

h1 {
  font-size: 30px;
  margin: 0;
}
h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

h2:first-letter {
  text-transform: capitalize;
}

a {
  color: white;
}

a:visited {
  color: #80b6f7;
}

footer {
  color: white;
  text-align: center;
  margin: 20px;
}

span.temperature {
  font-size: 44px;
}

.weather-container-app {
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;
  max-width: 750px;
  background-color: #0e477c;
  opacity: 0.85;
}

.search-container {
  background-color: #0e477c;
  border-radius: 10px;
  margin-bottom: 5px;
}

.city-info {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.weather-status-for-city {
  background: white;
  padding: 10px;
  margin: 20px 0 0;
  border-radius: 10px;
}

.weather-metrics {
  text-align: left;
  padding: 15px 12px 5px 12px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 0;
}

.units {
  position: relative;
  top: -20px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
}

.six-days-forecast {
  background: white;
  padding: 10px;
  margin: 20px 0 0;
  border-radius: 10px;
  text-align: center;
}

.six-days-forecast-weekday {
  font-size: 18px;
  opacity: 0.8;
}

.six-days-temperatures {
  font-size: 14px;
}

.six-days-temperature-min {
  opacity: 0.7;
}
